<link rel="stylesheet" href="/static/css/homepage.css" />
<link rel="stylesheet" href="/static/css/post.css" />
<link rel="stylesheet" href="/static/css/write-post.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="/static/js/filter-post.js" defer></script>
<script src="/static/js/homepage.js" defer></script>
{{!-- <script src="/static/js/add-post.js" defer></script> --}}

<div class="buffer"></div>
<div class="main">
  {{!-- DISCUSSION BOARD NAVIGATION --}}
  <div class="discussion-board-nav">
    {{#if notAuth}}
        {{else}}
        <button class="start-discussion-btn">Start Discussion</button>
    {{/if}}
   
    <ul class="discussion-nav-tags">
      <li><a href="#" id="general-disc" ><i class="fa-solid fa-comments" id="general-disc-tag"></i> General Discussion</a></li>
      <li><a href="#" id="lft" ><i class="fa-solid fa-user-group" id="lft-tag"></i> LFT</a></li>
      <li><a href="#" id="tech-issues" ><i class="fa-solid fa-wrench" id="tech-issues-tag"></i> Technical Issues</a></li>
      <li><a href="#" id="off-topic" ><i class="fa-solid fa-comment-dots" id="off-topic-tag"></i> Off Topic</a></li>
    </ul>
  </div>

  {{!-- DISCUSSION BOARD (POSTS) --}}
  <div class="discussion-board">
    {{!-- filter button --}}
    <div class="filter-menu" >
      <div class="select-filter"><span class="selected-filter">Newest</span> ⏷</div>
      <div class="filters">
          <div class="filter"><a href="#" id="filter-newest" data-not-auth="{{notAuth}}"><div class="filter-text">Newest</div></a></div>
        <div class="filter"><a href="#" id="filter-oldest"><div class="filter-text">Oldest</div></a></div>
        <div class="filter"><a href="#" id="filter-hottest"><div class="filter-text">Hottest</div></a></div>
      </div>
    </div>

    {{!-- WRITE POST --}}
    {{>add-post}}

    {{!-- POSTS--}}
    
    <div class="posts">
      {{>post}}
    </div>

    {{!-- <div class="pagination">
      <a href="#" class="page-link" data-page="prev">Previous</a>
      {{#each pageNumbers}}
        <a href="#" class="page-link {{isActivePage this}}" data-page="{{this}}">{{this}}</a>
      {{/each}}
      <a href="#" class="page-link" data-page="next">Next</a>
    </div> --}}
    
  </div>

  

</div>