<link rel="stylesheet" href="/static/css/indiv-post.css" />
<script src="/static/js/indiv-post.js" defer></script>
<link rel="stylesheet" href="/static/css/write-post.css" />

<div class="buffer"></div>
<div class="main">
  <div class="ip-header">
    <div class="ip-tag">
      <span class="ip-tag-text">
        <img src="/static/images/default-1-red.png" class="ip-tag-logo" />&nbsp;
        {{tag}}
      </span>
    </div>
    <div class="ip-title"><a
        href="/post/{{id}}"
        class="title"
      >{{title}}</a></div>
    <div class="post-id">{{id}}</div>
  </div>
</div>
<div class="individual-post">
  {{! post votes }}
  <div class="post-votes">
    <button class="vote-btn" onclick="upvote()"><i
        class="fa-solid fa-arrow-up"
        id="upvote"
      ></i></button><br />
    {{! TODO: add function to calculate upvotes and update in db }}
    {{upvotes}}
    <button class="vote-btn" onclick="downvote()"><i
        class="fa-solid fa-arrow-down"
        id="downvote"
      ></i></button>
  </div>
  {{! post content }}
  <div class="post-content">
    {{! post content header}}
    <div class="post-header">
      {{! TODO: get profile picture per post }}
      <div class="post-pfp-container"><img
          src="/static/images/fade-icon.png"
          class="post-pfp"
        /></div>
      <ul class="post-details">
        <li class="details">
          <div class="post-metadata">
            <span id="post-edit">
              {{#if edited}}
                Edited
              {{/if}}
            </span>
          </div>
        </li>
        {{! post content subdetails}}
        <li class="subdetails">
          <ul class="inline">
            <li id="post-username"><a href="/profile/{{username}}">{{username}}
                &nbsp;</a></li>
            <li id="post-time">started this discussion on {{date}}</li>
          </ul>
        </li>
        <div class="post-description">{{content}}</div>
      </ul>
    </div>
    {{! post content description}}

    <div class="post-btn">
      <input
        class="reply-btn"
        type="submit"
        value="Reply"
        onclick="replyToPost()"
      />
      <input class="edit-btn" type="submit" value="Edit" />
      <input class="delete-btn" type="submit" value="Delete" data-post-id="{{id}}" />
    </div>
  </div>
</div>

<div class="comments-container">
  {{#each comment}}

   {{> comment date=date upvotes=upvotes username=username  content=content}}

  {{/each}}
</div>

{{! WRITE POST }}
<div class="ip-write-post-border">
  <div class="write-post">
    <div class="write-post-left">
      {{! TODO: disable post if not logged-in (OPEN LOGIN/SIGNUP FORM) }}
      {{! TODO: get profile picture of logged-in user }}
      <img src="/static/images/fade-icon.png" class="write-pfp" />
    </div>
    <div class="write-post-right">
      {{! discussion tags and exit }}
      <div class="write-post-tags">
        <div class="tag-menu">
          <div class="select-tag"><span
              class="selected-tag"
            >{{tag}}</span></div>
          <div class="tags">
            <div class="tag"><a href="#"><div class="tag-text">General
                  Discussion</div></a></div>
            <div class="tag"><a href="#"><div
                  class="tag-text"
                >LFT</div></a></div>
            <div class="tag"><a href="#"><div class="tag-text">Technical Issues</div></a></div>
            <div class="tag"><a href="#"><div class="tag-text">Off Topic</div></a></div>
          </div>
        </div>
        <div class="close-post">x</div>
      </div>

      {{! discussion inputs }}
      <div class="write-content-div">
        <input type="text" class="post-title" placeholder="{{title}}" /><br />
        <textarea
          class="post-caption"
          rows="7"
          placeholder="Write a Post..."
          required
        >{{content}}</textarea>
      </div>
    </div>
  </div>
  <div class="submit-post">
    <input class="submit-btn" type="submit" value="Save Edits" />
  </div>
</div>

{{! TODO: ADD COMMENTS }}


{{! TODO: REPLY BUTTON }}