<link rel="stylesheet" href="/static/css/indiv-post.css" />
<script src="/static/js/indiv-post.js" defer></script>
<link rel="stylesheet" href="/static/css/write-post.css" />

<div class="buffer"></div>
<div class="main">
  <div class="ip-header">
    <div class="ip-tag">
      <span class="ip-tag-text">
        <img src="/static/images/default-1-red.png" class="ip-tag-logo" />&nbsp;
        {{tag}}
      </span>
    </div>
    <div class="ip-title"><a href="/post/{{id}}" class="title">{{title}}</a></div>
    <div class="post-id">{{id}}</div>
  </div>
</div>
<div class="individual-post">
  {{! post votes }}
  <div class="post-votes">
    <button class="vote-btn" onclick="upvote()"><i class="fa-solid fa-arrow-up" id="upvote" data-can-edit="{{canEdit}}"></i></button><br />
    {{! TODO: add function to calculate upvotes and update in db }}
    {{upvotes}}
    <button class="vote-btn" onclick="downvote()"><i class="fa-solid fa-arrow-down" id="downvote"></i></button>
  </div>
  {{! post content }}
  <div class="post-content">
    {{! post content header}}
    <div class="post-header">
      {{! TODO: get profile picture per post }}
      <div class="post-pfp-container"><img src={{pfp}} class="post-pfp" /></div>
      <ul class="post-details">
        <li class="details">
          <div class="post-metadata">
            
          </div>
        </li>
        {{! post content subdetails}}
        <li class="subdetails">
          <ul class="inline">
            <li id="post-username"><a href="/profile/{{username}}">{{username}} &nbsp;</a></li>
            <li id="post-time">started this discussion on {{date}}</li>
            <li><span id="post-edit">
              {{!-- TODO: show edited --}}
              {{#if edited}}
                Edited
              {{/if}}
            </span></li>
          </ul>
        </li>
        <div class="post-description">{{content}}</div>
      </ul>
    </div>
    {{! post content description}}

    <div class="post-btn">
      {{#if canEdit}}
          <input class="edit-btn" type="submit" value="Edit" />
          <input class="delete-btn" type="submit" value="Delete" onclick="deletePost('{{id}}')" />
      {{/if}}
      {{#if notAuth}}
        {{else}}
          <span class="reply-btn-container"><input class="reply-btn" type="submit" value="Reply" onclick="replyToPost()" /></span>
      {{/if}}
      
    </div>
  </div>
</div>

{{! REPLY BUTTON }}
{{>reply}}

{{! EDIT POST }}
{{>edit-post}}

{{! ADD COMMENTS }}
{{#each comments}}
  {{> comment }}
{{/each}}
