<link rel="stylesheet" href="/static/css/indiv-post.css" />
<script src="/static/js/indiv-post.js" defer></script>

<div class="main-header">
        <div class="post-tag">
            <img src="images/default-1-red.png" height=13px width=13px>
            {{tag}}
        </div>
        <div class="title"><a href="/post/{{id}}" class="title">{{title}}</a></div>
    </div>
    <div class="main">
      <span class="post-container">
         <div class="post-item">
           <span class="post-votes">
            <button class="votes" onclick="upvote()"><i
                class="fa-solid fa-arrow-up"
                id="upvote"
              ></i></button>
            <br />
            <p class="vote-cnt">{{upvotes}}</p>
            <button class="votes" onclick="downvote()"><i
                class="fa-solid fa-arrow-down"
                id="downvote"
              ></i></button>
          </span>
          <img class="pfp" src="/static/images/fade-icon.png" height="60px" width="60px" />
          <span class="post-content">
            
            {{!-- <span class="post-content-top"> --}}
              <!-- TO DO: retrieve images of user in users database and put it here -->
              <span class="details">
                <div class="top-row">
                  <p>post id:</p>
                  <p id="postid">{{id}}</p>
                  <!-- TO DO: edited should be enabled based on status -->
                  <span class="edited"><!--Edited--></span>
                  <span class="post-metadata">
                    
                    {{!-- <span class="post-tag-indiv"> --}}
                      <!-- TO DO: retrieve default icon for gendisc -->
                      <img src="images/default.jpg" height="13px" width="13px" />
                  
                    </span>
                  </span>
                </div>
                <span class="status">
                  <span class="username"> <a href="/profile/{{username}}">{{username}}</a></span>
                  started at
                  <span class="post-time">{{date}}</span>
                </span>
              </span>
            <div class="content-text">{{content}}</div>
            <textarea class="content-edit" style="display: none;">{{content}} </textarea>
            <button class="save-button" style="display: none;" action="/saveContent" type="submit">Save</button>
          </span>
         </div>
         <span class="actions">
                <div class="reply"><button onclick="replyToPost()">Reply</button></div>
                <div class="meatballs"><button class="edit-button">Edit</button> </div>
            </span>
      </span>
      <!-- COMMENT -->
      <div id="comments-container">

      </div>
    