<link rel="stylesheet" href="/static/css/comment.css" />
<script src="/static/js/comment.js" defer></script>
<div class="individual-comment">
  {{! comment votes }}
  <div class="comment-votes">
    <button class="vote-btn" onclick="upvote()"><i class="fa-solid fa-arrow-up" id="upvote" ></i></button><br />
    {{! TODO: add function to calculate upvotes and update in db }}
    {{upvotes}}
    <button class="vote-btn" onclick="downvote()"><i class="fa-solid fa-arrow-down" id="downvote" ></i></button>
  </div>
  {{! comment content }}
  <div class="comment-content">
    {{! comment content header}}
    <div class="comment-header">
      {{! TODO: get profile picture per post }}
      <div class="comment-pfp-container"><img class="comment-pfp" src={{username.picture}} /></div>
      <ul class="comment-details">
        <li class="details">
          <div class="comment-metadata">
            <span id="comment-edit">
              {{#if edited}}
                Edited
              {{/if}}
            </span>
          </div>
        </li>
        {{! comment content subdetails}}
        <li class="subdetails">
          <ul class="inline">
            <li id="comment-username"><a href="/profile/{{username.username}}">{{username.username}} &nbsp;</a></li>
            <a href="/post/{{post}}"><li id="comment-time">replied to this discussion on {{date}}</li></a>
          </ul>
        </li>
        <div class="comment-description">{{content}}</div>
      </ul>
    </div>
    {{! comment content description}}

    <div class="comment-btn">
      {{commentId}}
      {{!-- {{#if canEdit}} --}}
          <input class="commentEdit-btn" type="submit" value="Edit" />
          <input class="commentDelete-btn" type="submit" value="Delete" onclick="deleteComment('{{commentId}}')" />
      {{!-- {{/if}} --}}
    </div>
  </div>
</div>
{{! EDIT COMMENT }}
<div class="edit-comment-border">
  <div class="write-post">
     <div class="write-post-left">
      {{!-- TODO: show pfp when logged in --}}
      {{#if notAuth}}
        {{else}}
          <img src={{navpfp}} class="write-pfp" />
      {{/if}}
    </div>
    <div class="write-post-right">
      <div class="write-content-div">
        <input type="text" class="post-title" placeholder="{{title}}" /><br />
        <textarea class="post-caption" rows="7" placeholder="Write a comment..." required></textarea>
      </div>
    </div>
  </div>
  <div class="submit-post">
    <input class="saveEdit-btn" type="submit" value="Save Edits" />
  </div>
</div>