<link rel="stylesheet" href="/static/css/comment.css" />
<script src="/static/js/comment.js" defer></script>
<div class="individual-comment">
  {{! comment votes }}
  <div class="comment-votes">
    <button class="vote-btn" onclick="upvote()"><i class="fa-solid fa-arrow-up" id="upvote"></i></button><br />
    {{! TODO: add function to calculate upvotes and update in db }}
    {{upvotes}}
    <button class="vote-btn" onclick="downvote()"><i class="fa-solid fa-arrow-down" id="downvote" ></i></button>
  </div>
  {{! comment content }}
  <div class="comment-content" data-can-edit-comment="{{canEditComment}}">
    {{! comment content header}}
    <div class="comment-header">
      <div class="comment-pfp-container"><img class="comment-pfp" src={{username.picture}} /></div>
      <ul class="comment-details">
        <li class="details">
          <div class="comment-metadata"></div>
        </li>
        {{! comment content subdetails}}
        <li class="subdetails">
          <ul class="inline">
            <li id="comment-username"><a href="/profile/{{username.username}}">{{username.username}} &nbsp;</a></li>
            <a href="/post/{{post}}"><li id="comment-time">replied to this discussion on {{date}}</li></a>
            <li><span id="post-edit">
              {{#if edited}}
                Edited
              {{/if}}
            </span></li>
          </ul>
        </li>
        <div class="comment-description">{{content}}</div>
      </ul>
    </div>
    {{! comment content description}}

    <div class="comment-btn">
      <span class="comment-id">{{commentId}}</span>
      {{!-- {{#if canEditComment}} --}}
          <input class="commentEdit-btn" type="submit" value="Edit" />
          <input class="commentDelete-btn" type="submit" value="Delete" onclick="deleteComment('{{commentId}}')" />
      {{!-- {{/if}} --}}
    </div>
  </div>
</div>

{{! EDIT COMMENT }}
<div class="edit-comment-border">
  <div class="write-post">
     <div class="write-post-left">
      {{#if notAuth}}
        {{else}}
          <img  class="write-pfp" src="{{commentPfp}}"/>
      {{/if}}
    </div>
    <div class="write-post-right">
      <div class="write-post-tags">
        <div class="tag-menu"><div class="tags"></div></div>
        <div class="close-edit-comment">x</div>
      </div>
      <div class="write-content-div">
        <textarea class="editComment-caption" rows="7" placeholder="Write a comment..." required>{{commentCaption}}</textarea>
      </div>
    </div>
  </div>
  <div class="submit-post">
    <input class="saveEditComments-btn" type="submit" value="Save Edits" />
  </div>
</div>