<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/navbar.css"/>
   
<header class="header">
    <nav class="nav">
            <ul class="nav-menu">
                <li class="nav-menu-logo" data-not-auth="{{notAuth}}"><a href="/" class="nav-logo"><img src="/static/images/logo.png" class="logo"></a></li>
                <li ><a href="/" class="nav-logo" >SpikeZone</a></li>
            </ul>
            
            <div class="nav-right">
                <ul class="nav-menu-right">
                    <li id="search">
                        <button id="search-btn">🔍︎</button>
                        <input type="text" id="search-input" placeholder="Search Forum" onkeyup="search()">
                    </li>
                    {{#if notAuth}}
                        <li>
                            <button class="button" id="form-open" >Login/Register</button>
                        </li>
                    {{else}}
                        <li>
                            <div class="user-profile nav-dropdown">
                                <!-- NOTE: only used as template -->
                                <div class="nav-dropbtn">
                                    <ul class="nav-menu-dropdown">
                                        <li><img class="nav-pfp" src={{{navpfp}}}></li>
                                        <li><div class="nav-username"> {{navusername}} </div></li>
                                    </ul>
                                </div>
                                <div class="dropdown-content">
                                    <a href="/profile/{{{navusername}}}" id="profile-link"> Profile</a>
                                    <a href="/logout" class="logout">Logout</a>
                                </div>
                            </div>
                        </li>
                    {{/if}}
                </ul>
        </div>
        </nav>
</header>

    <!-- HOME -->
    <section class="home">
        <div class="form-container">
            <i class="uil uil-times form-close">x</i><br>
            <!-- login form -->
            <div class="form login-form">
                <form action="/login" class="form-log-sign" id="loginForm">
                    <h2>Login</h2>
                    <div id="login-error-msg"></div>
                    <!-- input username -->
                    <div class="input-box">
                        <input name="logUsername" id="login-username" type="text" placeholder="Username" required>
                    </div>
                    <!-- input password -->
                    <div class="input-box">
                        <input name="logPassword" id="login-pw" type="password" placeholder="Password" required>
                        
                    </div>
                    <div class="option-field">
                        <span class="checkbox">
                            <input type="checkbox" id="checkbox">
                            <label for="checkbox">Remember me</label>
                        </span>
                    </div>
                    <!-- login button -->
                    <button id="log-submit" class="button">Log In</button>
                    <!-- register button -->
                    <div class="login-signup">Don't have an account? <a href="#" id="signup">Sign Up</a></div>
                </form>
            </div>
            <!-- sign up form -->
            <div class="form signup-form">
                <form action="/register" class="form-log-sign" id="signForm">
                    <h2>Sign Up</h2>
                    <!-- input username -->
                    <div id="sign-error-msg">{{errorMessage}}</div>
                    <div class="input-box">
                        <input name="signUsername" id="username" type="text" placeholder="Username" required>
                    </div>
            
                    <!-- input password -->
                    <div class="input-box">
                        <input name="signPassword" class="pw" type="password" placeholder="Create password" required>
                    </div>
                    <!-- confirm password -->
                    <div class="input-box">
                        <input class="confirm-pw" type="password" placeholder="Confirm password" required>
                    </div>
                    <!-- login button -->
                    <button class="button" id="sign-submit" type="button">Sign Up</button>
                    <!-- register button -->
                    <div class="login-signup">Already have an account? <a href="#" id="login">Log In</a></div>
                </form>
            </div>
        </div>
    </section>
    
<script src="/static/js/navbar.js"></script>