<link rel="stylesheet" href="/static/css/post.css" />
<script src="/static/js/post.js" defer></script>
<div class="buffer"></div>
{{#each posts}}
  <div class="individual-post">
    {{! post votes }}
    <div class="post-votes">
      <button class="vote-btn" onclick="upvote()"><i
          class="fa-solid fa-arrow-up"
          id="upvote"
        ></i></button><br />
      {{! TODO: add function to calculate upvotes and update in db }}
      <div class="post-upvotes">{{upvotes}}</div>
      <button class="vote-btn" onclick="downvote()"><i
          class="fa-solid fa-arrow-down"
          id="downvote"
        ></i></button>
    </div>
    {{! post content }}
    <div class="post-content">
      {{! post content header}}
      <div class="post-header">
        {{! TODO: get profile picture per post }}
        {{!-- /static/images/fade-icon.png --}}
        <div class="post-pfp-container"><img
            src={{username.picture}}
            class="post-pfp"
          /></div>
        <ul class="post-details">
          <li class="details">
            <span id="post-title"> <a href="/post/{{_id}}">{{title}}</a></span>
            <div class="post-metadata">
              <span id="post-edit">
                {{#if edited}}
                 Edited
                {{/if}}
              </span>
              <span class="post-tag" id="post"><img
                  src="/static/images/default-1.png"
                  height="13px"
                  width="13px"
                />{{tag}}</span>
              <span id="post-comment"><i
                  class="fa-solid fa-comment"
                  id="comment-icon"
                ></i>
                2</span>
            </div>
          </li>
          {{! post content subdetails}}
          <li class="subdetails">
            <ul class="inline">
              <li id="post-username"><a
                  href="/profile/{{username.username}}"
                >{{username.username}} &nbsp;</a></li>
              <li class="post-time" id="post-time">started this discussion on {{date}}</li>
            </ul>
          </li>
        </ul>
      </div>
      {{! post content description}}
      <div class="post-description">{{content}}</div>
    </div>
  </div>
{{/each}}